<%= render "shared/header" %>

<%= link_to '4コマroomを作る', new_room_path %>
<div>
<% @rooms.each do |room| %>
  <ul>
  <li><%= room.name %></li>
  <%= link_to '詳細', room_path(room.id), method: :get %>
  <ul>
<% end %>
</div>